@using System.Globalization
@using System.Security.Claims
@using travelingExperience.Data.Enums
@model travelingExperience.Entity.Travel
@{
    ViewData["Title"] = "Update Travel";
}

<h1> Update Travel</h1>
<div class="row">
    <div class="col-md-8 offset-2">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (Model.TravelPicData != null && Model.ProfilePictureContentType != null)
            {
                string imageBase64 = Convert.ToBase64String(Model.TravelPicData);
                string imageDataURL = string.Format("data:{0};base64,{1}", Model.ProfilePictureContentType, imageBase64);
                <img src="@imageDataURL" alt="Profile Picture" class="border-info rounded-circle" style="max-width: 100px; max-height: 100px;" />
            }
            else
            {
                <span>No Picture</span>
            }
            <input type="hidden" asp-for="UserID" value="@User.FindFirstValue(ClaimTypes.NameIdentifier)" />
            <div class="form-group">
                <label asp-for="StartDestination" class="control-label">Тръгване от:</label>
                @Html.DropDownListFor(m => m.StartDestination, Enum.GetValues(typeof(TravelDestinations)).Cast<TravelDestinations>().Select(enumValue => new SelectListItem
           {
               Text = enumValue.ToString(),
               Value = ((int)enumValue).ToString()
           }), "Please select", new { @class = "form-control" })
                <span asp-validation-for="StartDestination" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDestination" class="control-label">Тръгване от:</label>
                @Html.DropDownListFor(m => m.EndDestination, Enum.GetValues(typeof(TravelDestinations)).Cast<TravelDestinations>().Select(enumValue => new SelectListItem
           {
               Text = enumValue.ToString(),
               Value = ((int)enumValue).ToString()
           }), "Please select", new { @class = "form-control" })
                <span asp-validation-for="EndDestination" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label aps-for="Desrition" class="control-label">Описание:</label>
                <input asp-for="Descrition" class="form-control" />
                <span asp-validation-for="Descrition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label aps-for="StartDate" class="control-label"> Час на тръгване:</label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label aps-for="EndDate" class="control-label"> Час на пристигане:</label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label aps-for="Price" class="control-label">Цена:</label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label aps-for="Seats" class="control-label">Места:</label>
                <input asp-for="Seats" class="form-control" />
                <span asp-validation-for="Seats" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TravelPic"></label>
                <input asp-for="TravelPic" type="file" class="form-control" />
                <span asp-validation-for="TravelPic" class="text-danger"></span>
            </div>
            <input type="submit" value="Update" class="btn btn-outline-success" />
            <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
        </form>
    </div>
</div>

